services:
  _defaults:
    autowire: true
    autoconfigure: true

  # 自动标记所有奖励处理器
  _instanceof:
    CampaignBundle\Contract\RewardProcessorInterface:
      tags: ['campaign.reward_processor']

  # 注册处理器注册表
  CampaignBundle\Service\RewardProcessorRegistry:
    arguments:
      $processors: !tagged_iterator campaign.reward_processor

  CampaignBundle\Command\:
    resource: '../../Command/'
  CampaignBundle\Controller\:
    resource: '../../Controller/'
  CampaignBundle\ExpressionLanguage\:
    resource: '../../ExpressionLanguage/'
  CampaignBundle\Procedure\:
    resource: '../../Procedure/'
  CampaignBundle\Repository\:
    resource: '../../Repository/'
  CampaignBundle\Service\:
    resource: '../../Service/'
